<div class="title mt-3">
  <h2>Lista Paciente</h2>
  <hr>
</div>


<app-search-component
(search)="searchPacients($event)"
(clear)="clearFilters()"
></app-search-component>

<div class="table-responsive mt-4">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th scope="col">Qtd</th>
        <th scope="col">Nome</th>
        <th scope="col">Setor</th>
        <th scope="col">Convênio</th>
        <th scope="col">Diagnóstico</th>
        <th scope="col">Plano Terapêutico</th>
        <th scope="col">Dt Admissão</th>
        <th scope="col">Dt Alta</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let item of listPacients let i = index">
        <td>{{i}}</td>
        <td>{{item.name}}</td>
        <td>{{item.department}}</td>
        <td>{{item.insurance}}</td>
        <td>{{item.diagnoses}}</td>
        <td><input class="form-check-input" [checked]="item.therapeuticPlan"  type="checkbox" value="therapeuticPlan" id="therapeuticPlan"></td>
        <!-- <td>{{item.therapeuticPlan}}</td> -->
        <td>{{item.admissionDate | date: "dd/MM/yyyy"}}</td>
        <td>{{item.dischargeDate | date: "dd/MM/yyyy"}}</td>
        <td>{{item.dischargeStatus}}</td>
        <td>
          <button class="btn btn-action-custom-green">
            <fa-icon [icon]="IconsService.faHouseChimneyCrack" title="Gerar Alta"></fa-icon>
          </button>
          <button [routerLink]="['/form', item.id]" class="btn btn-action-custom-green ms-2">
            <fa-icon [icon]="IconsService.faReceipt" title="Editar"></fa-icon> Editar
          </button>
        </td>
      </tr>
    </table>
  </div>
