<nav *ngIf="!isLoginPage"  class="navbar" style="background-color: #597445;">
  <button class="btn btn-custom-green" routerLink="/form">
    <fa-icon [icon]="iconsService.faCirclePlus"></fa-icon>
  </button>
  <button class="btn btn-custom-green" routerLink="/listar">
    <fa-icon [icon]="iconsService.faHospital"></fa-icon>
  </button>
  <button class="btn btn-custom-green" routerLink="/chart">
    <fa-icon [icon]="iconsService.faChartPie"></fa-icon>
  </button>
</nav>

<router-outlet></router-outlet>
